@using StockSim.Models.Home
@{
   ViewBag.Title = "Home Page";
   string helloClass = null;
}

<div class="jumbotron">
   <h1>Welcome to Open Stock Sim!</h1>
   <p class="lead">Open Stock Sim is an open source stock simulator that is current under construction.</p>
</div>
<div class="row">
   <h3 title="Test title" class="@helloClass">Hello Tester!</h3>
   <p>You can see the code <a href="https://github.com/jonesdy/StockSim/">here</a></p>
</div>