@using StockSim.Models.Home
@model string

@{
   ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Welcome to Open Stock Sim!</h1>
   <p class="lead">Open Stock Sim is an open source stock simulator that is current under construction.</p>
</div>
<div class="row">
   <h3>The Stock Market is currently @if (Model == null)
   {
      <b>open!</b>
   }
   else
   {
      <b>closed.</b>
   }</h3>
   @if(Model != null)
   {
      <h4>Closed reason: @Model</h4>
   }
   <p>You can see the code <a href="https://github.com/jonesdy/StockSim/">here</a></p>
</div>