<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<title>Game Page</title>
</head>
<body>
   <div th:replace="navbar"></div>
   <div th:if="${game}" class="container">
      <h1>Game Title: <span th:text="${game.title}" /></h1>
      <h1>Starting Money: <span th:text="${game.startingMoney}" /></h1>
      <h1>Private Game?: <span th:text="${game.privateGame}" /></h1>
   </div>
   <div th:unless="${game}" class="container"><div class="alert alert-danger">This game is not valid or is a private game that you are not in.</div></div>
</body>
</html>
