<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<title>Games Page</title>
</head>
<body>
   <div th:replace="navbar"></div>
   <div class="container">
      <h3>Your Games:</h3>
      <div class="list-group" th:if="${userGames}">
         <a href="game.html" th:each="game : ${userGames}" th:href="@{/game(gid=${game.gid})}" class="list-group-item"><span th:text="${game.title}" /><span class="badge" th:text="${game.playerCount}" /></a>
      </div>
      <ul class="list-group" th:unless="${userGames}">
         <li class="list-group-item">You are not in any games, or not logged in</li>
      </ul>

      <h3>Public Games:</h3>
      <div class="list-group" th:if="${publicGames}">
         <a href="game.html" th:each="game : ${publicGames}" th:href="@{/game(gid=${game.gid})}" class="list-group-item"><span th:text="${game.title}" /><span class="badge" th:text="${game.playerCount}" /></a>
      </div>
      <ul class="list-group" th:unless="${publicGames}">
         <li class="list-group-item">There are no public games available</li>
      </ul>

      <h4><a href="newGame.html">Start your own game here</a></h4>
   </div>
</body>
</html>
