<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />
<title>View Stock</title>
</head>
<body>
   <div th:replace="navbar"></div>
   <div class="container">
      <h2>Stock:</h2>
      <label>Ticker Symbol: <span th:text="${tickerSymbol}" /></label><br />
      <label>Name: <span th:text="${name}" /></label><br />
      <label>Price: $<span th:text="${price}" /></label>
   </div>
</body>
</html>
