@using StockSim.Models.Stock
@model BuySellStockConfirmViewModel

@{ 
   ViewData["Title"] = "Buy Stock Confirmation";
}

<h2>@ViewData["Title"]</h2>

@if(Model.FailureReason == null)
{
   <div class="alert alert-success" role="alert">Stocks bought successfully!</div>
   <p>Click <a href="@Url.Action("ViewGame", "Game")?gid=@Model.Gid">here</a> to return to the game</p>
}
else
{
   <div class="alert alert-danger" role="alert">There was an error when buying the stock. The error was "@Model.FailureReason"</div>
   <p>Click <a href="@Url.Action("ViewGame", "Game")?gid=@Model.Gid">here</a> to return to the game</p>
}