@using StockSim.Models.Stock
@model BuySellStockConfirmViewModel

@{
   ViewData["Title"] = "Sell Stock Confirmation";
}

<h2>@ViewData["Title"]</h2>

@if (Model.FailureReason == null)
{
   <div class="alert alert-success" role="alert">Stocks sold successfully!</div>
   <p>Click <a href="@Url.Action("ViewGame", "Game")?gid=@Model.Gid">here</a> to return to the game</p>
}
else
{
   <div class="alert alert-danger" role="alert">There was an error when selling the stock. The error was "@Model.FailureReason"</div>
   <p>Click <a href="@Url.Action("ViewGame", "Game")?gid=@Model.Gid">here</a> to return to the game</p>
}